---
import { Image } from "astro:assets";
import { APPVIEW_DOMAIN } from "astro:env/client";
import { INVITE_API_KEY } from "astro:env/server";
import { Agent } from "@atproto/api";
import type { InviteCodeInfo } from "@/actions/community/invite";
import Button from "@/components/bearnie/button/Button.astro";
import PublicLayout from "@/layouts/PublicLayout.astro";
import { client } from "@/utils/atproto/oauth";
import { ColibriSDK, type UnresolvedCommunityData } from "@/utils/sdk";

const { code } = Astro.params;
const user = await Astro.session?.get("user");

if (!code) return Astro.redirect("/");
if (!user) return Astro.redirect("/login");

const getCommunityData = async () => {
	return (await (
		await fetch(`https://${APPVIEW_DOMAIN}/api/invite/${code}`, {
			method: "GET",
			headers: new Headers({
				Authorization: `Bearer ${INVITE_API_KEY}`,
			}),
		})
	).json()) as InviteCodeInfo & {
		community: UnresolvedCommunityData;
	};
};

const getUserCommunitiesAndCheckJoinStatus = async (
	owner_did: string,
	rkey: string,
) => {
	const oauthSession = await client.restore(user.sub!);
	const agent = new Agent(oauthSession);
	const sdk = new ColibriSDK(agent);

	if (owner_did === agent.did!) return true;

	const data = await sdk.getCommunities(agent.did!);

	if (data.some((x) => x.rkey === rkey && x.owner_did === owner_did))
		return true;

	return false;
};

const communityData = await getCommunityData();

const inCommunity = await getUserCommunitiesAndCheckJoinStatus(
	communityData.community.owner_did,
	communityData.community.rkey,
);

if (inCommunity) {
	return Astro.redirect(`/app/c/${communityData.community.rkey}`);
}
---

<PublicLayout>
	<section
		class="py-40 mx-auto w-full max-w-336 md:px-16 px-6 relative flex flex-col items-center gap-12"
	>
		<div class="flex flex-col gap-4 items-center text-center">
			{
				communityData.community.picture && (
					<img
						src={`https://${APPVIEW_DOMAIN}/api/blob?did=${communityData.community.owner_did}&cid=${communityData.community.picture?.ref.$link}`}
						width="128"
						height="128"
						alt={communityData.community.name}
						class="border border-border rounded-2xl bg-card mb-8 block"
					/>
				)
			}
			<small class="text-primary text-sm">You've been invited to join</small>
			<h1 class="text-5xl font-black m-0">
				{communityData.community.name}
			</h1>
			<div
				class="mt-8 rounded-2xl w-full bg-card border border-border p-6 flex flex-col gap-4"
			>
				<Button class={"w-full"} id="accept-btn" data-code={code}>
					<span>Accept as</span>
					<span class="flex flex-row gap-1.5 items-center">
						{
							user.avatar ? (
								<Image
									width={24}
									height={24}
									alt={user.displayName || ""}
									src={user.avatar}
									class={"rounded-full"}
								/>
							) : (
								<Image
									width={24}
									height={24}
									alt={user.displayName || ""}
									src={"/user-placeholder.png"}
									class={"rounded-full"}
								/>
							)
						}
						{user.displayName || user.sub}
					</span>
				</Button>
				<Button variant="secondary" id="cancel-btn">
					<span>No Thanks</span>
				</Button>
			</div>
		</div>
	</section>
</PublicLayout>
<script>
	import { actions } from "astro:actions";
	import Spinner from "@/assets/spinner.svg?raw";

	const acceptBtn = document.querySelector<HTMLButtonElement>("#accept-btn")!;
	const cancelBtn = document.querySelector<HTMLButtonElement>("#cancel-btn")!;

	const code = acceptBtn.dataset.code as string;

	// TODO: Loading state
	acceptBtn.addEventListener("click", async () => {
		let prevHtml = `${acceptBtn.innerHTML}`;
		acceptBtn.innerHTML = Spinner;

		const { error, data } = await actions.acceptInvitation({
			code,
		});

		acceptBtn.innerHTML = prevHtml;

		if (error) {
			return window.toast.error({
				title: "Unable to join community:",
				description: error.message,
			});
		}

		if (!data) {
			return window.toast.error({
				title: "Unable to join community.",
			});
		}

		if (data.state !== "success") {
			return window.toast.error({
				title: "Unable to join community;",
				description: data.message,
			});
		}

		// At this point, the message will be the record key of the community
		window.location.href = `/app/c/${data.message}`;
	});

	cancelBtn.addEventListener("click", () => {
		window.close();
	});
</script>
