---
import type { InviteCodeInfo } from "@/actions/community/invite";
import Button from "@/components/bearnie/button/Button.astro";
import PublicLayout from "@/layouts/PublicLayout.astro";
import type { UnresolvedCommunityData } from "@/utils/sdk";
import { Image } from "astro:assets";
import { APPVIEW_DOMAIN } from "astro:env/client";
import { INVITE_API_KEY } from "astro:env/server";

const { code } = Astro.params;
const user = await Astro.session?.get("user");

if (!code) return Astro.redirect("/");
if (!user) return Astro.redirect("/login");

const communityData = (await (
	await fetch(`https://${APPVIEW_DOMAIN}/api/invite/${code}`, {
		method: "GET",
		headers: new Headers({
			Authorization: `Bearer ${INVITE_API_KEY}`,
		}),
	})
).json()) as InviteCodeInfo & {
	community: UnresolvedCommunityData;
};
---

<PublicLayout>
	<section
		class="py-40 mx-auto w-full max-w-336 md:px-16 px-6 relative flex flex-col items-center gap-12"
	>
		<div class="flex flex-col gap-4 items-center text-center">
			{
				communityData.community.picture && (
					<img
						src={`https://${APPVIEW_DOMAIN}/api/blob?did=${communityData.community.owner_did}&cid=${communityData.community.picture?.ref.$link}`}
						width="128"
						height="128"
						alt={communityData.community.name}
						class="border border-border rounded-2xl bg-card mb-8 block"
					/>
				)
			}
			<small class="text-primary text-sm">You've been invited to join</small>
			<h1 class="text-5xl font-black m-0">
				{communityData.community.name}
			</h1>
			<p class="m-0 text-muted-foreground">
				Too bad, this feature is not implemented yet. Check back later. It won't
				be long.
			</p>
			<div
				class="mt-8 rounded-2xl w-full bg-card border border-border p-6 flex flex-col gap-4"
			>
				<Button class={"w-full"} id="accept-btn" data-code={code}>
					<span>Accept as</span>
					<span class="flex flex-row gap-2 items-center">
						{
							user.avatar && (
								<Image
									width={24}
									height={24}
									alt={user.displayName || ""}
									src={user.avatar}
									class={"rounded-full"}
								/>
							)
						}
						{user.displayName || user.sub}
					</span>
				</Button>
				<Button variant="secondary" id="cancel-btn">
					<span>No Thanks</span>
				</Button>
			</div>
		</div>
	</section>
</PublicLayout>
<script>
	import { actions } from "astro:actions";

	const acceptBtn = document.querySelector<HTMLButtonElement>("#accept-btn")!;
	const cancelBtn = document.querySelector<HTMLButtonElement>("cancel-btn")!;

	const code = acceptBtn.dataset.code as string;

	acceptBtn.addEventListener("click", async () => {
		// TODO: Error handling
		await actions.acceptInvitation({
			code,
		});
	});
</script>
<style is:global>
	h2:first-of-type {
		margin-top: 0;
	}
</style>
